
@{
    ViewBag.Title = "BindAccount";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    var bingingPage = ViewBag.bindingPage;
    var bindingStoreMamager = ViewBag.bindingStoreMamager;
    var groupList = ViewBag.groupList;
    var NullgroupList = ViewBag.NullgroupList;
}
<span class="h4 font-weight-normal text-muted">綁定帳號</span>
<p class="lead text-center">連結帳號</p>
<div class="row m-3">
    <div class="col text-center">
        <a href="#" class="p-2" id="bind_fb">Facebook</a>
        <a href="#" class="p-2" id="bind_line">Line</a>
        <a href="#" class="p-2">Instagram</a>
    </div>
</div>
<div id="show_binding">
    @if (bingingPage != null)
    {
        <div class="row m-2" id="show_fb_bind">
            <div class="col text-right">
                <img class="AccountIcon" src="~/Assets/images/FB1.png" />
            </div>
            <div class="col">
                <span>@bingingPage.FanPageName</span>
            </div>
            <div class="col">
                <button type="button" class="btn btn-link remove_binding" id="@bingingPage.FanPageName">移除</button>
            </div>
        </div>
    }
    @if (bindingStoreMamager != null)
    {
        <div class="row m-2" id="show_fb_bind">
            <div class="col text-right">
                <img class="AccountIcon" src="~/Assets/images/Line1.png" />
            </div>
            <div class="col">
                <span>@bindingStoreMamager.Name</span>
            </div>
            <div class="col">
                <button type="button" class="btn btn-link remove_binding" id="@bindingStoreMamager.Name">移除</button>
                <span>|</span>
                <button type="button" class="btn btn-link" data-toggle="modal" id="addGroup">加入團購群組</button>
            </div>
        </div>
    }
</div>

@if (groupList.Count != 0)
{
    <p class="text-center">綁定完成</p>
    foreach (var item in groupList)
    {
        <div class="row m-2" id="show_fb_bind">
            <div class="col text-right">
                <img class="AccountIcon" src="~/Assets/images/Line1.png" />
            </div>
            <div class="col">
                <span><strong>@item.GroupName</strong></span>
                <em>加入時間:@item.JoinDate</em>

            </div>
            <div class="col">
                <button type="button" class="btn btn-link">移除</button>
                <span>|</span>
                <button type="button" class="btn btn-link">編輯</button>
            </div>
        </div>
    }
}

@if (NullgroupList.Count != 0)
{
    <p class="text-center">未綁定完成</p>
    foreach (var item in NullgroupList)
    {
        <div class="row m-2" id="show_fb_bind">
            <div class="col text-right">
                <img class="AccountIcon" src="~/Assets/images/Line1.png" />
            </div>
            <div class="col">
                <span>@item</span>
            </div>
            <div class="col">
                <button type="button" class="btn btn-link">移除</button>
                <span>|</span>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addBot">機器人好友</button>
            </div>
        </div>
    }
}

<div class="modal fade" id="addGroupName" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>綁定團購群組</span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span>群組名稱</span>
                <small>建議與Line群組名稱相同</small>
                <input type="text" class="form-control" id="groupName" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark close" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-dark" id="insertGroup">確認</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addBot" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>機器人好友</span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>(1)透過行動條碼加入LINE好友</p>
                <p>
                    請在LINE應用程式上開啟「好友」分頁，點選畫面右上方用來加入好友的圖示，
                    接著點選「行動條碼」，然後掃描此行動條碼。
                </p>
                <p class="text-center mt-3">Line Bot 機器人</p>
                <img class="rounded mx-auto d-block" style="width:50%;" src="~/Assets/images/BotQR_mjj9361v.png" />
                <p class="lead text-center">ID:@@mjj9361v</p>

                <p>(2)將機器人加入至團購群組</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" >確認</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notBinding" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>加入團購群組</span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span>請先將未完成綁定群組完成</span>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark" data-dismiss="modal">確認</button>
            </div>
        </div>
    </div>
</div>
@section EndJS
{
    <script>
        var win = null;
        $(document).ready(function () {

            //$('.btn_managePages').click(function () {
            //    var fanPageName = $(this).siblings("p").text();
            //    getAuth();
            //});
            $('#bind_fb').click(function () {
                getAuthNew();
                //$('#card_selectPage').empty();
            });
            $('#bind_line').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Setting/Login",
                    data: {},
                    success: function (res) {
                        console.log(res);
                        newWindow(res, '', '450', '450', 'scrollbars,status,toolbar');
                    }
                })
                //    .then(function () {
                //    if (win.closed == 'true') {
                //        alert('被關'+win.closed)
                //    }
                //    else {
                //        alert('還沒'+win.closed)
                //    }
                //})
            });
            $('.remove_binding').on("click", function () {
                console.log(this.id)
                let fanPageName = this.id;
                $.ajax({
                    type: "POST",
                    url: "/Setting/RemovePageBind",
                    data: { fanpagename: fanPageName },
                    success: function (data) {
                        console.log("delete success!");
                        $('#show_fb_bind').empty();

                    }
                }).done(function () {
                    console.log("delete over");
                });

            });
            $('#addGroup').click(function () {
                if (@NullgroupList.Count != 0) {                  
                    $("#notBinding").modal();
                }
                else  {
                    $("#addGroupName").modal();
                }             
            })
            $('#insertGroup').click(function () {
                var groupName = $('#groupName').val();
                $.ajax({
                    type: "POST",
                    url: "/LineBind/InsertGroupName",
                    data: { aspNetUserId: '@ViewBag.aspNetId', groupName: groupName },
                    success: function () {
                        window.location.reload();
                    }
                });

            })
        });
        function getAuthNew() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    FB.api('/me?fields=accounts', function (res) {
                        console.log(res.accounts);
                        console.log("嘿嘿:" + res.accounts.data.length)
                        if (res.accounts.data.length != 1) {
                            console.log("紛絲團數量不等於1");
                            //FB.logout(function (response) {

                            //    // user is now logged out
                            //});
                        }
                        else {
                            console.log("紛絲團數量等於1");
                            let fanPageid = res.accounts.data[0].id;
                            let fanPageName = res.accounts.data[0].name;
                            let token = res.accounts.data[0].access_token;
                            console.log("1的token=" + token + ",1的id=" + fanPageid + ",1的name=" + fanPageName);
                            GetDataNew(token, fanPageid, fanPageName);
                        }
                        //for (var i of res.accounts.data) {
                        //    //$('#card_selectPage').append('<div class="card text-center" style="width: 18rem;"><div class="card-body"><h5 class="card-title">FaceBook FanPage</h5><p class="card-text">' + i.name + '</p><button type="button" class="btn_managePages btn btn-info" value="' + i.id + '">選擇</button></div></div>');
                        //    console.log("i=" + i.access_token + ",id=" + i.id + ",name=" + i.name);

                        //}

                        //GetData(res.access_token);
                        console.log(res);
                    });
                }
            }, {
                    auth_type: 'rerequest',
                    scope: 'manage_pages,pages_messaging',
                    return_scopes: true
                });
        }

        function GetDataNew(token, fanPageid, fanPageName) {
            //alert("1="+token+",2="+fanPageid+",3="+fanPageName);

            $.ajax({
                type: "POST",
                url: "/Setting/GetFanPageData",
                data: { token: token, fanpageid: fanPageid, fanpagename: fanPageName },
                success: function (data) {
                    $('#show_binding').append('<div class="row m-2" id="show_fb_bind"><div class="col text-right"><img class="AccountIcon" src="../Assets/images/FB1.png" /></div><div class="col"><span>' + fanPageName + '</span></div><div class="col"><a href="#">移除</a></div></div>')
                    //console.log(data+"2");
                    //window.location.href = data;
                }
            }).done(function () {
                console.log("bind over");
            });
        }
        function newWindow(mypage, myname, w, h, features) {

            var winl = (screen.width - w) / 2;
            var wint = (screen.height - h) / 2;
            if (winl < 0) winl = 0;
            if (wint < 0) wint = 0;
            var settings = 'height=' + h + ',';
            settings += 'width=' + w + ',';
            settings += 'top=' + wint + ',';
            settings += 'left=' + winl + ',';
            settings += features;
            win = window.open(mypage, myname, settings);
            console.log(win);
            win.window.focus();
        }
    </script>

}
@section TopJS
{
    <script>

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1320980108059770',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
}



