@using FBPlusOneBuy.Models
@model LoginViewModel

<body class="loginBg">
    <div class="container">
        <div class="row loginHeight">
            <div class="col loginLeft" >
                <img src="/Assets/images/91_.png" >
            </div>
            <div class="col loginRight" >
                <div class="logindiv">
                    <span class="badge badge-pill badge-primary mb-5">+1 BUY</span>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-md btn-block">Sign in</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="@Url.Action("Register","Account")" style="text-align: center">Sign up</a>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}