    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<string,string> liveIDList = ViewData["liveIDList"] as Dictionary<string,string>;
}

<div class="container-fluid">
    <div class="row header">
        <h1 class="ml-3">PlusOneBuy</h1>
    </div>
</div>
<form action="~/list/index" method="post">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="dropdown">
                    <h4 class="mt-3">請選擇直播影片:</h4>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        直播影片
                    </button>
                    <input type="hidden" name="liveID" id="liveID">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        @foreach (var item in liveIDList)
                        {
                            if (@item.Value == null)
                            {
                                <button class="dropdown-item" type="button" value="@item.Key">@item.Key</button>
                            }
                            else
                            {
                                <button class="dropdown-item" type="button" value="@item.Key">@item.Value</button>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-3">
                <h4 class="mt-3">設定留言關鍵字:</h4>
                <input name="ProductName" type="hidden" value="馬桶泡泡洗" />
                <input type="text" class="form-control" name="keyWord" />
            </div>
        </div>
        <button id="btn_managePages" class="btn btn-info mt-3">選擇粉絲團</button>
        <button id="btn_submit" class="btn btn-primary mt-3" disabled>送出</button>

    </div>
</form>
@section EndJS
{
    <script>
        $(function () {
            function getAuth() {


                FB.login(function (response) {
                    if (response.status === 'connected') {
                        console.log(response.authResponse.accessToken);
                    }
                }, {
                        auth_type: 'rerequest',
                        scope: "manage_pages",
                        return_scopes: true
                    });
            }
            $('.dropdown-item').click(function () {
                $('#dropdownMenu').text($(this).text())
                $('#liveID').val($(this).val())
            })
            $('#btn_managePages').click(function () {

                if ($('#dropdownMenu').text().trim() == "直播影片") {
                    alert("請選擇直播影片")
                    return false;
                }
                else if ($('input[name="keyWord"]').val() == "") {
                    alert("請輸入關鍵字")
                    return false;
                }
                else {
                    $("#btn_submit").removeAttr("disabled");
                    getAuth();
                    return false;
                    //document.form.submit();

                }

            })
            $('#btn_submit').click(function () {

                if ($('#dropdownMenu').text().trim() == "直播影片") {
                    alert("請選擇直播影片")
                    return false;
                }
                else if ($('input[name="keyWord"]').val() == "") {
                    alert("請輸入關鍵字")
                    return false;
                }
                else {
                    document.form.submit();
                }

            })



        })

    </script>

}
@section TopJS
{
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1320980108059770',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
}

