@using FBPlusOneBuy.Services;
@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    Dictionary<string, string> liveIDList = ViewData["liveIDList"] as Dictionary<string, string>;
    var Products = ProductService.GetCurrentProducts();

}
<span class="h4 font-weight-normal text-muted">設定活動</span>
<span>/</span>
<a class="h4 font-weight-normal text-muted" href="@Url.Action("FanPageName","Setting")">社群</a>
<span>/</span>
<span class="h4 font-weight-normal text-muted">直播推播</span>
<form action="~/list/index" method="post">
    <div class="row">
        <div class="col">
            <img src="~/Assets/images/FB1.png" style="width:20px;" />
            <label>粉絲團:@ViewData["fanpagename"]</label>
            <h5><strong>直播設定</strong></h5>
            <hr>
            <div class="row ">
                <div class="col">
                    <div class="dropdown">
                        <label>直播影片:</label>
                        <button class="btn border-info dropdown-toggle Videodropdown" type="button" id="Videodropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            直播影片
                        </button>
                        <div id="videomenu" class="dropdown-menu" aria-labelledby="dropdownMenu" style="width:80%">
                            <h6 class="dropdown-header">直播影片</h6>
                            @foreach (var item in liveIDList)
                            {
                                if (item.Value == null)
                                {//沒有輸入直播影片名稱改用編號顯示
                                    <button class="dropdown-item" type="button" value="@item.Key">@item.Key</button>
                                }
                                else
                                {
                                    <button class="dropdown-item" type="button" value="@item.Key">@item.Value</button>
                                }

                            }
                            <input type="hidden" name="livePageID" id="livePageID">
                            <input type="hidden" name="liveName" id="liveName">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label>留言關鍵字:</label><br />
                    <input type="radio" name="keywordPattern" id="keyword" value="+1" checked />
                    <label for="keyword">+1...+9</label><br />
                    <input type="radio" id="keywordFree" name="keywordPattern" />
                    <label for="keywordFree">自訂</label>
                    <input type="hidden" id="keywordtext" class="formtext" name="keywordPattern" value="我要買" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5><strong>挑選商品</strong></h5><hr />
                            <div class="dropdown ">
                                <button class="btn border-info dropdown-toggle" type="button" id="productType" data-toggle="dropdown" value="salepage_id" aria-haspopup="true" aria-expanded="false">
                                    商品編號
                                </button>
                                <div id="searchtype" class="dropdown-menu" aria-labelledby="productType">
                                    <h6 class="dropdown-header">搜尋方式 </h6>
                                    <button class="dropdown-item" type="button" value="salepage_id">商品編號</button>
                                    <button class="dropdown-item" type="button" value="shopCategoryId">類別編號</button>
                                </div>
                            </div>
                            <input id="GetProductByid" class="Idtext border-info" value="" />
                            <button id="SearchProduct" type="button" class="btn btn-secondary mb-3"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col">
                            <h6><strong>搜尋清單</strong></h6>
                        </div>
                        <div class="col text-lg-right">
                            <button id="AddProduct" type="button" class="btn btn-light border-info">挑選商品<i class="fas fa-plus ml-2"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table id="ProductSearch" class="table table-sm paginated">
                                <thead>
                                    <tr>
                                        <th>挑選</th>
                                        <th>名稱</th>
                                        <th>編號</th>
                                        <th>規格</th>
                                        <th>庫存</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <br />
                            <ul class="pagination justify-content-center" style="display:none">
                                <li class="page-item"><a id="left" class="page-link"><i class="fas fa-chevron-left"></i></a></li>
                                <li class="page-item"><a id="right" class="page-link"><i class="fas fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5><strong>直播商品清單</strong></h5><hr>
                    <table class="table" id="ProductList">
                        <thead>
                            <tr>
                                <th>刪除</th>
                                <th>名稱</th>
                                <th>規格</th>
                                <th>價格</th>
                                <th>庫存</th>
                                <th>可售</th>
                                <th>關鍵字</th>
                                <th>修改</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Products.ProductItems.Count != 0)
                            {
                                for (var i = 0; i < Products.ProductItems.Count; i++)
                                {
                                    <tr id="s_@Products.ProductItems[i].SkuId">
                                        <td>
                                            <button type="button" name="delProduct" class="btn btn-light"
                                                    value="@Products.ProductItems[i].SkuId">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </td>
                                        <td>@Products.ProductItems[i].ProductName</td>
                                        <td>@Products.ProductItems[i].SkuName</td>
                                        <td>$@Products.ProductItems[i].UnitPrice</td>
                                        <td>@Products.ProductItems[i].Qty</td>
                                        <td>
                                            <input type="text" class="qtytext" value="@Products.ProductItems[i].PresetQty" />
                                        </td>
                                        <td>
                                            <input type="text" class="formtext" id="@Products.ProductItems[i].SkuId" value="@Products.ProductItems[i].Keyword">
                                        </td>
                                        <td>
                                            <button type="button" name="checkKeyword" class="btn btn-light" value="@Products.ProductItems[i].SkuId">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <button id="btn_submit" class="btn btn-primary mt-3"><i class="far fa-hand-point-right"></i>送出</button>
            <br />
        </div>
    </div>
</form>
<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="modaltext"></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark" data-dismiss="modal">確認</button>
            </div>
        </div>
    </div>
</div>
@section EndJS
{
    <script>
        $(document).ready(function () {
            var Product;
            //將選擇的直播影片顯示頁面上
            $('#videomenu').children('.dropdown-item').click(function () {
                $('#Videodropdown').text($(this).text())
                $('#livePageID').val($(this).val())
                if ($(this).val() != $(this).text()) {
                    $('#liveName').val($(this).text())
                }
            })
            //商品類別
            $('#searchtype').children('.dropdown-item').click(function () {
                $('#productType').text($(this).text())
                $('#productType').val($(this).val())
            })
            //選擇留言關鍵字形式
            $('[name=keywordPattern]').change(function () {
                if ($('#keywordFree:checked').length == 1) {
                    $('#keywordtext').removeAttr('type', 'hidden')
                    $('#keywordFree').val($('#keywordtext').val())
                }
                else {
                    $('#keywordtext').attr('type', 'hidden')
                }

            })
            //搜尋商品
            
            $('#SearchProduct').click(function () {
                var productType=$('#productType').val()
                var productId = $('#GetProductByid').val()
                if (productId == "") {
                    $("#modaltext").text("請輸入商品編號")
                    $("#modal").modal();
                }
                else {
                    $('#ProductSearch tbody').empty()
                    $.ajax({
                    type: 'POST',
                    url: '/Product/GetSKUListByMain',
                    data: { FilterType: productType, id_value: productId },
                    dataType: "json",
                    cache: false,
                    success: function (json) {
                        Product = json
                        if (Product != "") {
                            for (var i = 0; i < Product.length; i++) {
                                $('#ProductSearch').append("<tr><td>" +
                                    "<input type='checkbox' name='checkproduct' value='" + Product[i].SkuId + "'>" +
                                    "<td>" + Product[i].Title + "</td>" + "<td>" + Product[i].SkuId + "</td>" +
                                    "</td><td>" + Product[i].SkuName + "</td>" + "<td>" + Product[i].SellingQty +
                                    "</td></tr>")
                            }
                            if (Product.length > 10) {
                                pagination(Product.length);
                            }
                        }
                        else {
                            $("#modaltext").text("查無此編號")
                            $("#modal").modal();
                        }
                    }
                })
                }
                
            })
            //加入商品
            $('#AddProduct').click(function () {
                 $("input[type=checkbox]:checked").each(function () {
                    SkuId = $(this).val();
                    var Salepage_id = Product.find(function (element) {
                        return element.SkuId == SkuId;
                    }).Id;
                    var SkuName = Product.find(function (element) {
                        return element.SkuId == SkuId;
                    }).SkuName;
                    var SellingQty = Product.find(function (element) {
                        return element.SkuId == SkuId;
                    }).SellingQty;
                     var item = Boolean()
                    //var item = false;
                    var sku = Array()
                    $('button[name="checkKeyword"]').each(function (i, n) {
                        sku.push($(n).val())
                    })
                    //判斷清單使否有商品
                    sku.forEach(function (e) {
                        if (e == SkuId) {
                            item = true
                        }
                    })
                    if (item) {
                        $("#modaltext").text("此商品已在直播清單")
                        $("#modal").modal();
                    }
                    else if (item == false) {
                        GetProduct(Salepage_id, SkuId, SkuName, SellingQty)
                        $('.pagination').css('display', 'none')
                        $('#GetProductByid').val('')
                        $('#ProductSearch tbody').empty()
                    }
                });
            })
        
            function GetProduct(Salepage_id, SkuId, SkuName, SellingQty) {
                $.ajax({
                    type: 'post',
                    url: '/Product/GetMain',
                    data: { Salepage_id: Salepage_id, SkuId: SkuId, SkuName: SkuName, Qty: SellingQty },
                    dataType: "json",
                    cache: false,
                    success: function (res) {
                        var Title = Product.find(function (element) {
                            return element.SkuId == SkuId;
                        }).Title;

                        $('#ProductList').append("<tr id='s_" + SkuId + "'>" + "<td><button type='button' name='delProduct' class='btn btn-light' value='" + SkuId + "'><i class='far fa-trash-alt'></i></button></td><td>" + Title + "</td><td>" + SkuName + "</td><td>$" + res.Data.Price + "</td><td>" + SellingQty + "</td><td>" +
                            "<input type'text' class='qtytext' value='" + SellingQty + "'></td><td>" +
                            "<input type='text' class='formtext' id='" + SkuId + "' value='" + SkuId + "'>" +
                            "<td><button type='button' class='btn btn-light' name='checkKeyword' value='" + SkuId + "'><i class='fas fa-check'></i></button></td></tr>")
                    }
                })
            }
        })
        //修改關鍵字
        $('body').on("click", 'button[name="checkKeyword"]', function () {
            var Id = $(this).val()
            var presetQty = $('#s_' + Id).children('td').children('.qtytext').val()
            var keyword = $('#s_' + Id).children('td').children('.formtext').val()
            $.ajax({
                type: 'post',
                url: '/Product/UpdateKeyword',
                data: { skuId: Id, keyword: keyword, presetQty: presetQty },
                success: function () {
                    $("#modaltext").text("修改成功!!")
                    $("#modal").modal();
                }
            })
        });
        //刪除商品
        $('body').on("click", 'button[name="delProduct"]', function () {
            $.ajax({
                type: 'post',
                url: '/Product/DeleteProduct',
                data: { skuId: $(this).val() },
                success: function (skuId) {
                    $("#modaltext").text("刪除成功!!")
                    $("#modal").modal();
                    $('#s_' + skuId).remove()
                }
            })
        });

        $('#btn_submit').click(function () {
                if ($('#ProductList tbody td').length == 0) {
                    $("#modaltext").text("請加入直播商品")
                    $("#modal").modal();
                    return false;
                }
                if ($('#Videodropdown').text().trim() == "直播影片") {
                    $("#modaltext").text("請選擇直播影片!!")
                    $("#modal").modal();
                    return false;
                }
                else {
                    document.form.onsubmit();
                }
            })
        //搜尋分頁
        function pagination(length) {
            $('.pagination').css('display', '')
            $('table.paginated').each(function () {
                var currentPage = 0;
                var numPerPage = 10;
                var maxPage = Math.round(length / numPerPage) - 1
                var $table = $(this);
                $table.bind('repaginate', function () {
                    $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
                });
                $table.trigger('repaginate');
                var $pager = $('.pagination');
                $('#left').bind('click', function () {
                    if (currentPage == -1 || currentPage == 0) {
                        currentPage = 0
                    }
                    else {
                        currentPage = currentPage - 1;
                    }
                    $table.trigger('repaginate');
                }).appendTo($pager);

                $('#right').bind('click', function () {

                    if (currentPage >= maxPage) {
                        currentPage = maxPage
                    }
                    else {
                        currentPage = currentPage + 1;
                    }
                    $table.trigger('repaginate');
                }).appendTo($pager);
            });
        }
    </script>
}

