@using FBPlusOneBuy.Services;
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    Dictionary<string, string> liveIDList = ViewData["liveIDList"] as Dictionary<string, string>;
    var Products = ProductService.GetCurrentProducts();

}
<span class="h4 font-weight-normal text-muted">設定直播推播</span>
<span>/</span>
<a class="h4 font-weight-normal text-muted" href="@Url.Action("FanPageName","Setting")">粉絲團</a>
<span>/</span>
<span class="h4 font-weight-normal text-muted">商品</span>

<form action="~/list/index" method="post">
    <div class="row mt-3">
        <div class="col-sm-auto">
            <label><strong>挑選商品</strong></label><hr />
            <div class="dropdown">
                <button class="btn border-info dropdown-toggle" type="button" id="videodropdownMenu" data-toggle="dropdown" value="salepage_id"
                        aria-haspopup="true" aria-expanded="false">
                    商品編號
                </button>
                <div id="searchtype" class="dropdown-menu" aria-labelledby="videodropdownMenu">
                    <h6 class="dropdown-header">搜尋方式 </h6>
                    <button class="dropdown-item" type="button" value="salepage_id">商品編號</button>
                    <button class="dropdown-item" type="button" value="shopCategoryId">類別編號</button>
                </div>
            </div>
            <input id="GetProductByid" class="Idtext border-info" value="" />
            <button id="SearchProduct" type="button" class="btn btn-secondary"><i class="fas fa-search"></i></button>
            <br><br>
            <label><strong>搜尋清單</strong></label>
            <button id="AddProduct" type="button" class="btn btn-light border-info" style="right:20px;position:absolute">挑選商品<i class="fas fa-plus ml-2"></i></button><br><br>
            <table id="ProductSearch" class="table table-sm paginated">
                <thead>
                    <tr>
                        <th>Pick</th>
                        <th>SkuId</th>
                        <th>OuterId</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <ul class="pagination justify-content-center" style="display:none">
                <li class="page-item"><a id="left" class="page-link"><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item"><a id="right" class="page-link"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </div>
        <div class="col">
            <label><strong>直播設定</strong></label>
            <hr><br>
            <div class="row mb-4">
                <div class="col">
                    <div class="dropdown">
                        <label>直播影片:</label>
                        <button class="btn border-info dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:240px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            直播影片
                        </button>
                        <div id="videomenu" class="dropdown-menu" aria-labelledby="dropdownMenu" style="width:80%">
                            <h6 class="dropdown-header">直播影片 </h6>
                            @foreach (var item in liveIDList)
                            {
                                if (item.Value == null)
                                {
                                    <button class="dropdown-item" type="button" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" value="@item.Key">@item.Key</button>
                                }
                                else
                                {
                                    <button class="dropdown-item" type="button" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" value="@item.Key">@item.Value</button>
                                }

                            }
                            <input type="hidden" name="livePageID" id="livePageID">
                            <input type="hidden" name="liveName" id="liveName">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label>留言關鍵字:</label>
                    <input type="text" class="formtext" name="keywordPattern" value="+1" />
                </div>
            </div>

            <label><strong>直播商品清單</strong></label>
            <table class="table" id="ProductList">
                <thead>
                    <tr>
                        <th>刪除</th>
                        <th>商品名稱</th>
                        <th>商品關鍵字</th>
                        <th>價格</th>
                        <th>修改確認</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Products.ProductItems.Count != 0)
                    {
                        for (var i = 0; i < Products.ProductItems.Count; i++)
                        {
                            <tr>
                                <td>
                                    <button type="button" name="delProduct" class="btn btn-light" value="@Products.ProductItems[i].SkuId">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                                <td>@Products.ProductItems[i].ProductName</td>
                                <td>
                                    <input type="text" class="formtext" id="@Products.ProductItems[i].SkuId" value="@Products.ProductItems[i].Keyword">



                                </td>
                                <td>@Products.ProductItems[i].UnitPrice</td>
                                <td>
                                    <button type="button" name="checkKeyword" class="btn btn-light" value="@Products.ProductItems[i].SkuId">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <br>
            <button id="btn_submit" class="btn btn-primary mt-3"><i class="far fa-hand-point-right"></i>送出</button>
        </div>
    </div>
</form>
<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="modaltext"></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark" data-dismiss="modal">確認</button>
            </div>
        </div>
    </div>
</div>
@section EndJS
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var json;
            $('#videomenu').children('.dropdown-item').click(function () {
                $('#dropdownMenu').text($(this).text())
                $('#livePageID').val($(this).val())
                if ($(this).val() != $(this).text()) {
                    $('#liveName').val($(this).text())
                }
            })
            //商品類別
            $('#searchtype').children('.dropdown-item').click(function () {
                $('#videodropdownMenu').text($(this).text())
                $('#videodropdownMenu').val($(this).val())
            })
            
            $('#btn_submit').click(function () {
                if ($('#dropdownMenu').text().trim() == "直播影片") {
                    $("#modaltext").text("請選擇直播影片!!")
                    $("#modal").modal();
                    return false;
                }
                else {
                    document.form.onsubmit();
                }
            })
            //搜尋商品
            $('#SearchProduct').click(function () {
                $('#ProductSearch tbody').empty()

                $.ajax({
                    type: 'post',
                    url: '/Product/GetSKUListByMain',
                    data: { FilterType: $('#videodropdownMenu').val(), id_value: $('#GetProductByid').val() },
                    dataType: "json",
                    cache: false,
                    success: function (Result) {

                        json = JSON.stringify(Result);
                        json = JSON.parse(json);

                        if (json != "") {

                            for (var i = 0; i < json.length; i++) {
                                $('#ProductSearch').append("<tr><td>" +
                                    "<input type='radio' name='checkproduct' value='" + json[i].SkuId + "'>" +
                                    "</td><td>" + json[i].SkuId + "</td><td>" + json[i].OuterId + "</td></tr>")
                            }

                            if (json.length > 10) {
                                pagination(json.length);
                            }
                        }
                        else {
                            $("#modaltext").text("查無此編號")
                            $("#modal").modal();
                        }
                    }
                })
            })
            //加入商品
            $('#AddProduct').on('click', PickProduct)
            function PickProduct() {

                $("input[type=radio]:checked").each(function () {

                    SkuId = $(this).val();
                    var outerId = json.find(function (element) {
                        return element.SkuId == SkuId;
                    }).OuterId;
                    var Salepage_id = json.find(function (element) {
                        return element.SkuId == SkuId;
                    }).Id;
                    var item = "";
                    $('button[name="checkKeyword"]').each(function (i, n) {
                        if ($(n).val() == SkuId) {

                            item = "heveitem"
                        }
                        else if ($(n).val() != SkuId) {

                            item = "noitem"
                        }
                    })
                    if (item == "heveitem") {
                        $("#modaltext").text("此商品已在直播清單")
                        $("#modal").modal();

                    }
                    else if (item == "noitem") {
                        GetProduct(Salepage_id, SkuId, outerId)
                        $('.pagination').css('display','none')
                    }
                    else {
                        GetProduct(Salepage_id, SkuId, outerId)
                    }
                });

                $('#GetProductByid').val('')
                $('#ProductSearch tbody').empty()

            }
            function GetProduct(Salepage_id, SkuId, OuterId) {
                $.ajax({
                    type: 'post',
                    url: '/Product/GetMain',
                    data: { Salepage_id: Salepage_id, SkuId: SkuId, Keyword: OuterId },
                    dataType: "json",
                    cache: false,
                    success: function (result) {
                        var json = JSON.stringify(result);
                        json = JSON.parse(json);
                        $('#ProductList').append("<tr>" + "<td><button type='button' name='delProduct' class='btn btn-light' value='" + SkuId + "'><i class='far fa-trash-alt'></i></button></td>" + "<td>" + json.Data.Title + "</td><td>" +
                            "<input type='text' class='formtext' id='" + SkuId + "' value='" + OuterId + "'>" +
                            "</td><td>" + json.Data.Price + "</td>" +
                            "<td><button type='button' class='btn btn-light' name='checkKeyword' value='" + SkuId + "'><i class='fas fa-check'></i></button></td>" + "</tr>")

                    }
                })
            }
        })
        //修改關鍵字
        $('body').on("click", 'button[name="checkKeyword"]', function () {
            var keyword = $(this).val()
            console.log(keyword)
            $.ajax({
                type: 'post',
                url: '/Product/UpdateKeyword',
                data: { skuId: $(this).val(), keyword: $('#' + keyword).val() },
                success: function () {
                    $("#modaltext").text("修改成功!!")
                    $("#modal").modal();
                }
            })
        });
        //刪除商品
        $('body').on("click", 'button[name="delProduct"]', function () {
            console.log($(this).val())
            $.ajax({
                type: 'post',
                url: '/Product/DeleteProduct',
                data: { skuId: $(this).val() },
                success: function (skuId) {
                    $("#modaltext").text("刪除成功!!")
                    $("#modal").modal();
                    //$('#' + skuId).remove()
                    window.location.reload()
                }
            })
        });
        //搜尋分頁
        function pagination(length) {
            $('.pagination').css('display','')
            $('table.paginated').each(function () {
                var currentPage = 0;
                var numPerPage = 10;
                var maxPage = length / 20
                var $table = $(this);
                $table.bind('repaginate', function () {
                    $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
                });
                $table.trigger('repaginate');
                var $pager = $('.pagination');
                $('#left').bind('click', function () {
                    currentPage = currentPage - 1;
                    if (currentPage = -1) {
                        currentPage = 0
                    }
                    $table.trigger('repaginate');
                }).appendTo($pager);

                $('#right').bind('click', function () {
                    currentPage = currentPage + 1;
                    if (currentPage >= maxPage) {
                        currentPage = maxPage
                    }
                    $table.trigger('repaginate');
                }).appendTo($pager);
            });
        }
    </script>
}

