@model List<FBPlusOneBuy.ViewModels.CommentOrderLIstViewModel>
@{
    ViewBag.Title = "CommentsOrderList";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    FBPlusOneBuy.ViewModels.ReportViewModel LivePost = ViewData["LivePost"] as FBPlusOneBuy.ViewModels.ReportViewModel;
}
<span class="h4 font-weight-normal text-muted">查詢活動</span>
<span>/</span>
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Index","Report")">社群</a>
<span>/</span>
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Fblist","Report")">直播清單</a>
<span>/</span>
<span class="h4 font-weight-normal text-muted"><strong>留言訂單</strong></span>

<div class="row mt-3">
    <div class="col">
        <span>直播編號:@LivePost.LivePageID</span>
        <span>直播名稱:@LivePost.LiveName</span><br />
        <span>開始時間:@LivePost.postTime</span>
        <span>結束時間:@LivePost.endTime</span><br />
        <span>收單數量:@LivePost.QtyOfOrders</span>
        <span>收單金額:@String.Format("{0:N0}", @LivePost.Amount)</span>
    </div>
</div>
<table id="myTable" class="cell-border compact stripe" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().OrderID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CustomerName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UnitPrice)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().OrderDateTime)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(model => item.OrderDateTime)
                </td>
            </tr>
        }

    </tbody>
</table>
@section EndJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "info": false, "bLengthChange": false, "pageLength": 10
            });
        });
    </script>
}
