@model List<FBPlusOneBuy.ViewModels.GroupOrderListGroupOrderViewModel>
@{

    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Index","Report")">查詢活動</a>
<span>/</span>
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Linelist","Report")">活動清單</a>
<span>/</span>
<span class="h4 font-weight-normal text-muted"><strong>訂單</strong></span>

<div class="row mt-3">
    <div class="col">
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Title) : @Html.DisplayFor(model => model.FirstOrDefault().Title)</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductName) : @Html.DisplayFor(model => model.FirstOrDefault().ProductName)</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Detail) : @Html.DisplayFor(model => model.FirstOrDefault().Detail)</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductGroup) : @Html.DisplayFor(model => model.FirstOrDefault().ProductGroup)</p>
    </div>
</div>
<div>
    <button id="AddToCart" type="button" class="btn btn-outline-info">一鍵成單</button>
    <button id="PushArrivedMsgs" type="button" class="btn btn-outline-success ml-1">一鍵寄送取貨訊息</button>
</div>
<table id="myTable" class="cell-border compact stripe" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().GroupOrderID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().OrderDateTime)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().isGroup)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</th>
            <th>明細</th>
            <th>成單</th>
            <th>發送成團訊息</th>
            <th>發送取貨訊息</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.GroupOrderID)</td>
                <td>@Html.DisplayFor(model => item.OrderDateTime)</td>
                <td>
                    @if (item.isGroup == false)
                    {
                    <span class="text-danger">尚缺:</span> @(item.ProductGroup - item.NumberOfProduct)
                    }
                    else
                    {
                        <i class="fas fa-check-circle text-success"></i>
                    }

                </td>
                <td>@Html.DisplayFor(model => item.Amount)</td>
                <td>
                    @Html.ActionLink("...", "GroupOrderDetailList", new { GroupOrderID = item.GroupOrderID, campaignID = ViewBag.campaignID })
                </td>
                <td>
                    @if (item.isGroup == false)
                    {
                        <button class="btn btn-link btn_ungroup_order" value="@item.GroupOrderID">此團成單</button>
                    }
                    else
                    {
                        <span>可一鍵成團</span>
                    }

                </td>
                <td>
                    @if (item.BtnGroupClickDateTime == null)
                    {
                        <button class="btn btn-link btn_group_info" value="@item.GroupOrderID">成團訊息</button>
                    }
                    else
                    {
                        @item.BtnGroupClickDateTime @:已發送
                    }

                </td>
                <td>
                    @if (item.shipDateTime == null)
                    {
                        <button class="btn btn-link btn_product_arrived" value="@item.GroupOrderID">取貨訊息</button>
                    }
                    else
                    {
                        @item.shipDateTime  @:已發送
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
@section EndJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#AddToCart").on('click', function () {
                console.log("1");
                $.ajax({
                    type: "POST",
                    url: "/GroupBuy/GetShoppingCartLink",
                    data: { campaignId:@ViewBag.campaignID , groupOrderID:"" , productGroup:0}
                }).done(function(response) {
                    if (response != "nothing") {
                        window.open(response);
                    } else {
                        alert("未有成團訂單");
                    }
                });
            });

            $(".btn_ungroup_order").on('click', function () {
                let btnValue = this.value;
                $.ajax({
                    type: "POST",
                    url: "/GroupBuy/GetShoppingCartLink",
                    data: { groupOrderID: btnValue,campaignId:@ViewBag.campaignID,productGroup: @ViewBag.productGroup}
                }).done(function (response) {
                    if (response != "nothing") {
                        window.open(response);
                    }

                });
            });

            $("#PushArrivedMsgs").on('click', function () {
                console.log("2");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PushArrivedMessageToLineGroup","GroupBuy")",
                    data: {campaignId:@ViewBag.campaignID}
                }).done(function(response) {
                    console.log('取貨訊息s發送done!');
                    window.location.reload();
                });
            });

            $('#myTable').DataTable({
                "info": false, "bLengthChange": false, "pageLength": 10
            });
            $('.btn_group_info').on("click", function () {
                let groupOrderID = this.value;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PushMessageToLineGroup","GroupBuy")',
                    data: { GroupOrderID: groupOrderID }
                }).done(function (res) {
                    console.log('訊息發送done!');
                    window.location.reload();
                });
            });

            $('.btn_product_arrived').on("click", function () {
                let groupOrderID = this.value;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PushArrivedMessageToLineGroup","GroupBuy")',
                    data: { GroupOrderIDs: [groupOrderID] }                                       
                }).done(function (res) {
                    console.log('取貨訊息發送done!');
                    window.location.reload();
                });
            });

        });
    </script>
}
