@model List<FBPlusOneBuy.ViewModels.GroupOrderListGroupOrderViewModel>
@{
    
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Index","Report")">查詢活動</a>
<span>/</span>
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Linelist","Report")">活動清單</a>
<span>/</span>
<span class="h4 font-weight-normal text-muted"><strong>訂單</strong></span>

<div class="row mt-3">
    <div class="col">
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Title) : @Html.DisplayFor(model => model.FirstOrDefault().Title)</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductName) : @Html.DisplayFor(model => model.FirstOrDefault().ProductName)</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Detail) : @Html.DisplayFor(model => model.FirstOrDefault().Detail)</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductGroup) : @Html.DisplayFor(model => model.FirstOrDefault().ProductGroup)</p>
    </div>
</div>
<table id="myTable" class="cell-border compact stripe" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().GroupOrderID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().OrderDateTime)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().shipDateTime)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().isGroup)</th>
            <th>尚缺</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</th>
            <th>明細</th>
            <th>成單</th>
            <th>發送成團訊息</th>
            <th>發送取貨訊息</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(model => item.GroupOrderID)</td>
            <td>@Html.DisplayFor(model => item.OrderDateTime)</td>
            @if (item.shipDateTime == null)
            {
                <td>未到貨</td>
            }
            else
            {
                @Html.DisplayFor(model => item.shipDateTime )
            }

            <td>@Html.DisplayFor(model => item.isGroup)</td>
            <td>@(item.ProductGroup - item.NumberOfProduct)</td>
            <td>@Html.DisplayFor(model => item.Amount)</td>
            <td>
                @Html.ActionLink("...", "GroupOrderDetailList", new { GroupOrderID = item.GroupOrderID,campaignID=ViewBag.campaignID })
            </td>
            <td>
                <button class="btn btn-link">此團成單</button>
            </td>
            <td>
                <button class="btn btn-link">團單訊息</button>
            </td>
            <td>
                <button class="btn btn-link">取貨訊息</button>
            </td>
        </tr>
        }
    </tbody>
</table>
@section EndJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "info": false, "bLengthChange": false, "pageLength": 10
            });
        });
    </script>
}
