@model List<FBPlusOneBuy.ViewModels.GroupOrderListGroupOrderViewModel>
@{

    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Index","Report")">查詢活動</a>
<span>/</span>
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Linelist","Report")">活動清單</a>
<span>/</span>
<span class="h4 font-weight-normal text-muted"><strong>訂單</strong></span>

<div class="row mt-3">
    <div class="col-4">
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Title) : @ViewBag.title</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductName) : @ViewBag.productName</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Detail) : @ViewBag.detail</p>
        <p>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductGroup) : @ViewBag.productGroup</p>
    </div>
    <div class="col-8" >
        <canvas id="line-chart" style="width:100%;height:80%;"></canvas>
    </div>
</div>

<div>
    <button id="AddToCart" type="button" class="btn btn-outline-info">一鍵成單</button>
    <button id="PushArrivedMsgs" type="button" class="btn btn-outline-success ml-1">一鍵寄送取貨訊息</button>
</div>
<table id="myTable" class="cell-border compact stripe" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().GroupOrderID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().OrderDateTime)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().isGroup)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</th>
            <th>明細</th>
            <th>成單</th>
            <th>發送成團訊息</th>
            <th>發送取貨訊息</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.GroupOrderID)</td>
                <td>@Html.DisplayFor(model => item.OrderDateTime)</td>
                <td>
                    @if (item.isGroup == false)
                    {
                        <span class="text-danger">尚缺:</span> @(item.ProductGroup - item.NumberOfProduct)
                    }
                    else
                    {
                        <i class="fas fa-check-circle text-success"></i>
                    }

                </td>
                <td>@Html.DisplayFor(model => item.Amount)</td>
                <td>
                    @Html.ActionLink("...", "GroupOrderDetailList", new { GroupOrderID = item.GroupOrderID, campaignID = ViewBag.campaignID })
                </td>
                <td>
                    @if (item.BtnOrderClickDateTime == null)
                    {
                        if (item.isGroup == false)
                        {
                            <button class="btn btn-link btn_ungroup_order" value="@item.GroupOrderID">此團成單</button>
                        }
                        else
                        {
                            <span>可一鍵成團</span>
                        }
                    }
                    else
                    {
                        @item.BtnOrderClickDateTime @:已發送
                    }


                </td>
                <td>
                    @if (item.BtnGroupClickDateTime == null)
                    {
                        <button class="btn btn-link btn_group_info" value="@item.GroupOrderID">成團訊息</button>
                    }
                    else
                    {
                        @item.BtnGroupClickDateTime @:已發送
                    }

                </td>
                <td>
                    @if (item.shipDateTime == null)
                    {
                        <button class="btn btn-link btn_product_arrived" value="@item.GroupOrderID">取貨訊息</button>
                    }
                    else
                    {
                        @item.shipDateTime @:已發送
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@section EndJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "info": false, "bLengthChange": false, "pageLength": 10
             });
            
            $.ajax({
                type: "POST",
                url: "/Chart/GroupOrderChart",
                data: { CampaignID: '@ViewBag.campaignID' },
                success: function (data) {
                    
                    chart(data)
                }              
            });
            function chart(data) {

                var price = data.price
                var name = data.name
                var dateTime=data.dateTime;
                var qty=data.qty;

                new Chart(document.getElementById("line-chart"), {
                  type: 'line',
                  data: {
                    labels: dateTime,
                    datasets: [{
                        data: qty,
                        borderColor: "#F8C471",
                        fill: false
                      }]
                  },
              options: {
                title: {
                    display: true,
                    text: '團購數量與金額'
                  },
                legend: {
                     display: false
                  },
                  scales: {
                    xAxes: [{
                          ticks: {
                            maxRotation: 0
                          }
                        }],
                      yAxes: [{
                          ticks: {
                              min:0,
                              stepSize: 1
                          }
                      }]
                  },
                tooltips: {
                      callbacks: {
                          label: function (tooltipItem) {
                              var index = tooltipItem.index;
                              return "數量:" + Number(tooltipItem.yLabel) + " 金額:$" + price[index] + " 顧客:" + name[index];
                            }
                        }
                  }
              }
            });
            }         

            $("#AddToCart").on('click', function () {
                console.log("1");
                $.ajax({
                    type: "POST",
                    url: "/GroupBuy/GetShoppingCartLink",
                    data: { campaignId:@ViewBag.campaignID , groupOrderID:"" , productGroup:0}
                }).done(function(response) {
                    if (response != "nothing") {
                        window.location.reload();
                        window.open(response);

                    } else {
                        alert("未有成團訂單");
                    }
                });
            });

            $(".btn_ungroup_order").on('click', function () {
                let btnValue = this.value;
                $.ajax({
                    type: "POST",
                    url: "/GroupBuy/GetShoppingCartLink",
                    data: { groupOrderID: btnValue,campaignId:@ViewBag.campaignID,productGroup: @ViewBag.productGroup}
                }).done(function (response) {
                    if (response != "nothing") {
                        window.location.reload();
                        window.open(response);
                    }

                });
            });

            $("#PushArrivedMsgs").on('click', function () {
                console.log("2");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PushArrivedMessageToLineGroup","GroupBuy")",
                    data: {campaignId:@ViewBag.campaignID}
                }).done(function (response) {
                    if (response != "nothing") {
                        console.log('取貨訊息s發送done!');
                        window.location.reload();
                    } else {
                        alert("沒有!");
                    }

                });
            });
         
            $('.btn_group_info').on("click", function () {
                let groupOrderID = this.value;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PushMessageToLineGroup","GroupBuy")',
                    data: { GroupOrderID: groupOrderID }
                }).done(function (res) {
                    console.log('訊息發送done!');
                    window.location.reload();
                });
            });

            $('.btn_product_arrived').on("click", function () {
                let groupOrderID = this.value;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PushArrivedMessageToLineGroup","GroupBuy")',
                    data: { GroupOrderIDs: [groupOrderID],campaignId:@ViewBag.campaignID }
                }).done(function (res) {
                    console.log('取貨訊息發送done!');
                    window.location.reload();
                });
            });

        });
    </script>
}
