@model List<FBPlusOneBuy.ViewModels.ReportViewModel>
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<span class="h4 font-weight-normal text-muted">報告</span>
<span>/</span>
<span class="h4 font-weight-normal text-muted"><strong>直播清單</strong></span>
<br /><br />
<label>進階搜尋</label><br />
<label>從:</label>
<input type="date" />
<label>到:</label>
<input type="date" />
<button type="button" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
<table id="myTable" class="cell-border compact stripe" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().LivePageID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().LiveName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().postTime)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().endTime)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().QtyOfOrders)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</th>
            <th>留言訂單</th>
            <th>銷售單</th>
            <th>ROI</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ID)
            </td>
            <td>
                @Html.DisplayFor(model => item.LivePageID)
            </td>
            <td>
                @Html.DisplayFor(model => item.LiveName)
            </td>
            <td>
                @Html.DisplayFor(model => item.postTime)
            </td>
            <td>
                @Html.DisplayFor(model => item.endTime)
            </td>
            <td>
                @Html.DisplayFor(model => item.QtyOfOrders)
            </td>
            <td>
                $@Html.DisplayFor(model => item.Amount)
            </td>
            <td>@Html.ActionLink("...", "CommentsOrderList", new { liveId = item.ID })</td>
            <td>@Html.ActionLink("...", "SalesOrderList", new { liveId = item.ID })</td>
            <td>@Html.ActionLink("...", "ROIOrderList", new { liveId = item.ID })</td>
        </tr>
        }
    </tbody>
</table>
@section EndJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "info": false, "bLengthChange": false, "pageLength": 15
            });
        });
    </script>
}