
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    List<FBPlusOneBuy.ViewModels.ReportViewModel> Report = ViewData.Model as List<FBPlusOneBuy.ViewModels.ReportViewModel>;
}
<span class="h4 font-weight-normal text-muted">報告</span>
<span>/</span>
<span class="h4 font-weight-normal text-muted"><strong>直播清單</strong></span>
<br /><br />
<label>進階搜尋</label><br/>
<label>從:</label>
<input type="date"/>
<label>到:</label>
<input type="date" />
<button type="button" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
<table id="myTable" class="cell-border compact stripe" style="width:100%">
    <thead>
        <tr>
            <th>編號</th>
            <th>直播編號</th>
            <th>直播名稱</th>
            <th>開始時間</th>
            <th>結束時間</th>
            <th>收單數</th>
            <th>收單金額</th>
            <th>留言訂單</th>
            <th>銷售單</th>
            <th>ROI</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Report.Count; i++)
        {
            <tr>
                <td>@Report[i].ID</td>
                <td>@Report[i].LivePageID</td>
                <td>@Report[i].LiveName</td>
                <td>@Report[i].postTime</td>
                <td>@Report[i].endTime</td>
                <td>@Report[i].QtyOfOrders</td>
                <td>$@String.Format("{0:N0}", Report[i].Amount)</td>
                <td><a href="@Url.Action("CommentsOrderList","Report")">...</a></td>
                <td><a href="@Url.Action("SalesOrderList","Report",new { livepageId="382838899034699_631072840739696"})">...</a></td>
                <td><a href="@Url.Action("ROIOrderList","Report")">...</a></td>
            </tr>
        }
    </tbody>
</table>
@section EndJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "info": false, "bLengthChange": false, "pageLength": 15
            });
        });
    </script>
}