@model FBPlusOneBuy.ViewModels.ReportViewModel
@{
    ViewBag.Title = "ROIOrderList";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<span class="h4 font-weight-normal text-muted">報告</span>
<span>/</span>
<a class="h4 font-weight-normal text-muted" href="@Url.Action("Index","Report")">直播清單</a>
<span>/</span>
<span class="h4 font-weight-normal text-muted"><strong>ROI</strong></span>
<div class="row mt-3">
    <div class="col">

    </div>
    <div class="col-6">
        <span class="badge badge-pill badge-warning">直播</span>
        <hr>
        <h3><span class="badge badge-light">@Html.DisplayNameFor(model => model.LivePageID)</span>
        <span class="badge badge-light">@Html.DisplayFor(model => model.LivePageID)</span></h3>      
        <h3><span class="badge badge-light">@Html.DisplayNameFor(model => model.LiveName)</span>
        <span class="badge badge-light">@Html.DisplayFor(model => model.LiveName)</span></h3>
        <h3><span class="badge badge-light">@Html.DisplayNameFor(model => model.postTime)</span>
        <span class="badge badge-light">@Html.DisplayFor(model => model.postTime)</span></h3>
        <h3><span class="badge badge-light">@Html.DisplayNameFor(model => model.endTime)</span>
        <span class="badge badge-light">@Html.DisplayFor(model => model.endTime)</span></h3>
        <span class="badge badge-pill badge-primary">數據</span>
        <hr>
        <h3><span class="badge badge-light">觀看人數:</span><span class="badge badge-light">0</span></h3>
        <h3><span class="badge badge-light">@Html.DisplayNameFor(model => model.QtyOfOrders)</span>
        <span class="badge badge-light">@Html.DisplayFor(model => model.QtyOfOrders)</span></h3>
        <h3><span class="badge badge-light">@Html.DisplayNameFor(model => model.Amount)</span>
        <span class="badge badge-light">$@Html.DisplayFor(model => model.Amount)</span></h3>
        <h3><span class="badge badge-light">成單數量:</span><span class="badge badge-light">0</span></h3>
        <h3><span class="badge badge-light">成單金額:</span><span class="badge badge-light">$0</span></h3>
        <h3><span class="badge badge-light">ROI:</span><span class="badge badge-light">0%</span></h3>
    </div>
    <div class="col">

    </div>
</div>
@section EndJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "searching": false,"info": false, "bLengthChange": false, "pageLength": 10
            });
        });
    </script>
}

