@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<FBPlusOneBuy.Models.Product> products = ViewData["product"] as List<FBPlusOneBuy.Models.Product>;
}
<body>
    <div class="container-fluid">
        <div class="row header">
            <img src="~/Assets/images/91app_developer.png" />
        </div>
    </div>
    <div class="container">
        <div id="list" class="row" style="margin: 10px">
            <div class="col-5">
                <h3>直播商品</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>商品</th>
                            <th>關鍵字</th>
                            <th>價格</th>
                            <th>庫存</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (products != null)
                        {
                            for (int i = 0; i < products.Count; i++)
                            {
                                <tr>
                                    <td>@products[i].ProductName</td>
                                    <td>@products[i].keyword</td>
                                    <td>@String.Format("{0:N0}", products[i].UnitPrice)</td>
                                    <td>@products[i].Stock</td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h3>留言清單</h3>
                <table id="ListTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>OrderID</th>
                            <th>CustomerName</th>
                            <th>Keyword</th>
                            <th>ProductName</th>
                            <th>Quantity</th>
                            <th>OrderDateTime</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-12 text-center">
                <button id="btn_endpost" class="btn btn-dark col-6 ">結束本次推播</button>
            </div>

        </div>
    </div>
</body>

@section EndJS
{
    @*<script src="~/Assets/js/jquery-3.4.1.min.js"></script>*@
    <script>
        $(document).ready(function () {
            GetData();
            $("#btn_endpost").click(endPost);
            function endPost() {
                $.ajax({
                type: "POST",
                    url: '@Url.Action("SetPostEndtime", "list")',
                    data: {livePageID:'@ViewData["livePageID"]'}
                }).done(function (response) {
                    console.log(response);
                    window.location.href='@Url.Action("FanPageName", "Setting")'
                });
            }
            function sendMsg() {
                $.ajax({
                type: "POST",
                    url: '@Url.Action("SendMsg", "Setting")',
                }).done(function (response) {
                    console.log(response);
                    
                });
            }
        });
        function GetData() {
            $.ajax({
                type: 'post',
                url: '/list/GetPlusOneBuyOrders',
                data: { livePageID:'@ViewData["livePageID"]',keywords:'@ViewData["keyWord"]'},
                dataType: "json",
                cache: false,
                success: function (Result) {
                    $('#ListTable tbody').empty();
                    var json = JSON.parse(Result);
                    for (var i = 0; i < json.length; i++) {
                        $('#ListTable').append("<tr><td>" + json[i].OrderID + "</td>" +
                            "<td>" + json[i].CustomerName + "</td>" +
                            "<td>" + json[i].Keyword + "</td>" +
                            "<td>" + json[i].Product.ProductName + "</td>" +
                            "<td>" + json[i].Quantity + "</td>" +
                            "<td>" + json[i].OrderDateTime + "</td></tr>")
                    }
                }
            }).then(function () {
                setTimeout(GetData, 3000);
            })
        }
    </script>
}