@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    List<FBPlusOneBuy.ViewModels.ProductViewModel> products = ViewData["products"] as List<FBPlusOneBuy.ViewModels.ProductViewModel>;
}
<div class="container bg-light shadow ">
    <div class="row p-3 ">
        <div class="col-2">
            <div class="card listcard border-secondary shadow">
                <div class="row no-gutters align-items-center">
                    <div class="col m-3">
                        <div class="text-md font-weight-bold text-primary text-uppercase mb-1">觀看人數</div>
                        <div class="h3 mb-0 font-weight-bold text-gray" id="views">0</div>
                    </div>
                    <div class="col-auto m-2">
                        <i class="fas fa-eye fa-2x "></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card listcard border-primary shadow">
                <div class="row no-gutters align-items-center">
                    <div class="col m-3">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">收單數量</div>
                        <div class="h3 mb-0 font-weight-bold text-gray" id="num">
                            0
                        </div>
                    </div>
                    <div class="col-auto m-2">
                        <i class="fas fa-users fa-2x "></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card listcard border-warning shadow">
                <div class="row no-gutters align-items-center">
                    <div class="col m-3">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">收單金額</div>
                        <div class="h3 mb-0 font-weight-bold text-gray" id="money">0</div>
                    </div>
                    <div class="col-auto m-2">
                        <i class="fas fa-dollar-sign fa-2x "></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card listcard border-success shadow">
                <div class="row no-gutters align-items-center">
                    <div class="col m-3">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">成交數量</div>
                        <div class="h3 mb-0 font-weight-bold text-gray" id="Ordernum">0</div>
                    </div>
                    <div class="col-auto m-2">
                        <div><i class="fas fa-sort-amount-up fa-2x"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card listcard border-danger shadow">
                <div class="row no-gutters align-items-center">
                    <div class="col m-3">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">成交金額</div>
                        <div class="h3 mb-0 font-weight-bold " id="Ordermoney">0</div>
                    </div>
                    <div class="col-auto m-2">
                        <i class="fas fa-coins fa-2x text-gray"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-8"></div>
        <div class="col">
            <button id="btn_sentMsg" class="btn btn-primary ">寄送購物車連結</button>
        </div>
        <div class="col">
            <form id="EndPost" method="post" action="/list/SetPostEndtime">
                <input name="livePageID" value="@ViewData["livePageID"]" type="hidden" />
                <button type="button" id="btn_endpost" class="btn btn-dark ">結束本次推播</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <h3>直播商品</h3>
            <table class="table" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>名稱</th>
                        <th>規格</th>
                        <th>關鍵字</th>
                        <th>價格</th>
                        <th>數量</th>
                        <th>可售</th>
                    </tr>
                </thead>
                <tbody>
                    @if (products != null)
                    {
                        for (int i = 0; i < products.Count; i++)
                        {
                            <tr id="s_@products[i].SkuId">
                                <td>@products[i].ProductName</td>
                                <td>@products[i].SkuName</td>
                                <td>@products[i].Keyword</td>
                                <td>@String.Format("{0:N0}", products[i].UnitPrice)</td>
                                <td>@products[i].Qty</td>
                                <td>@products[i].PresetQty</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <canvas id="chartjs-0" style="width:80%"></canvas>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"> <h3>留言清單</h3></div>
                <div class="col">
                    <span>留言關鍵字:@ViewData["keywordPattern"]</span>
                </div>
                <div class="col-12">
                    <table id="ListTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>顧客名稱</th>
                                <th>關鍵字</th>
                                <th>商品名稱</th>
                                <th>數量</th>
                                <th>留言時間</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                
            </div>
        </div>
        
    </div>   

</div>
<div style="width:50%;">
    <canvas id="chartjs-0"></canvas>
</div>

    @*<canvas id="chartjs-0" class="chartjs" width="150" height="150"
            style="display: block; height: 200px; width: 150px;"></canvas>*@


@section EndJS
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script>
        $(document).ready(function () {            
            GetData();           
            $("#btn_sentMsg").click(sendMsg);
            setInterval(DrawOrdersCountLine, 5000);
            
        function sendMsg() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SendMsgByButton", "list")',
                data: { livePageID: '@ViewData["livePageID"]' }
            }).done(function(response) {
                console.log(response);
            });
        }
        });
        var countSeconds = 0;
        var num = 0;
        var money = 0;
        var myChart=new Chart(document.getElementById("chartjs-0"),
            {
                "type": "line",
                "data": {
                    "labels": [],
                    "datasets": [{
                        "label": "留言訂單數量",
                        "data": [],
                        "fill": false,
                        "borderColor": "rgb(75, 192, 192)",
                        "lineTension": 0.1
                    },{
                        "label": "觀看人數",
                        "data": [],
                        "fill": false,
                        "borderColor": "rgb(157, 156, 255)",
                        "lineTension": 0.1
                        }
                    ]
                },
                "options": {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                

                            }
                        }]
                    }
                }
            });
        function GetData() {
            $.ajax({
                type: 'post',
                url: '/list/GetPlusOneBuyOrders',
                data: { livePageID:'@ViewData["livePageID"]',keywordPattern:'@ViewData["keywordPattern"]'},
                dataType: "json",
                cache: false,
                success: function (Result) {
                    var json = JSON.parse(Result);

                    for (var i = 0; i < json.length; i++) {
                        var Time = json[i].OrderDateTime
                        var newDate = Time.substring(0,10)+ " " +Time.substring(11,19);
                        $('#ListTable').append("<tr><td>" + json[i].CustomerName + "</td>" +
                            "<td>" + json[i].Keyword + "</td>" +
                            "<td>" + json[i].Product.ProductName + "</td>" +
                            "<td>" + json[i].Quantity + "</td>" +
                            "<td>" + newDate + "</td></tr>");
                        money = json[i].Product.UnitPrice;
                    }
                },
                error: function () {
                    alert("error");
                }
            }).then(function () {
                setTimeout(GetLiveVideoViews, 5000);
                setTimeout(GetData, 3000);
                setTimeout(GetROIOrderInfo, 3000);
                setTimeout(GetQty, 3000);
                
            })
        }

        function GetROIOrderInfo() {
            $.ajax({
                type: "GET",
                    url: '@Url.Action("GetROIOrderInfo", "list")',
                    data: {livePageId:'@ViewData["livePageID"]'}
            }).done(function (order) {
                $('#num').text(order.Qty)
                $('#money').text(order.Amount)

                if (order.Qty > 4) {
                     $('#Ordernum').text(3)
                     $('#Ordermoney').text(3*money)
                }
                if (order.Qty > 2) {
                     $('#Ordernum').text(1)
                     $('#Ordermoney').text(1*money)
                }

                });
        }
        function GetLiveVideoViews() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLiveVideoViews","list")',
                data: { livePageID: '@ViewData["livePageID"]' }
            }).done(function(views) {
                $('#views').text(views);

                myChart.data.datasets[1].data.push(views);
                myChart.update();
            });
        }
        function GetQty() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPresetQty","Product")'
            }).done(function(result) {
                if (result != "") {
                    for (var i = 0; i < result.length; i++) {
                        var ID = '#s_' + result[i].ID + ' td:nth-child(6)'
                        $(ID).text(result[i].PresetQty)
                        if (result[i].PresetQty == 0) {
                            $(ID).addClass("text-danger")
                        }
                    }
                }
            });
        }
        function DrawOrdersCountLine() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetOrdersCount","List")',
                data: { livePageID: '@ViewData["livePageID"]' }
            }).done(function(response) {
                countSeconds = countSeconds + 5;
                //if (+response > myChart.options.scales.yAxes[0].ticks.max)
                //{
                //    myChart.options.scales.yAxes[0].ticks.max = response;
                //}
                myChart.data.labels.push(countSeconds + "秒");
                myChart.data.datasets[0].data.push(response);
                myChart.update();

            });
        }

        $("#btn_endpost").on('click',
            function (e) {
                e.preventDefault();
                var data = JSON.stringify(myChart.data.datasets[1].data);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReCordViewers","Chart")',
                    data: { livePageID : "@ViewData["livePageID"]", numberOfViewers: data }
                }).done(function(response) {
                    console.log(response);
                    $("#EndPost").submit();
                });
            });
    </script>
}