@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<FBPlusOneBuy.ViewModels.ProductViewModel> products = ViewData["products"] as List<FBPlusOneBuy.ViewModels.ProductViewModel>;
}
<body>
    <div class="container-fluid">
        <div class="row header">
            <img src="~/Assets/images/91app_developer.png" />
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-9">
            </div>
            <div class="col">
                <button id="btn_sentMsg" class="btn btn-primary ">寄送購物車連結</button>
                <button id="btn_endpost" class="btn btn-dark ">結束本次推播</button><br />

            </div>
        </div>
        <div id="list" class="row" style="margin: 10px">
            <div class="col-5">
                <h3>直播商品</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>商品名稱</th>
                            <th>商品關鍵字</th>
                            <th>價格</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (products != null)
                        {
                            for (int i = 0; i < products.Count; i++)
                            {
                                <tr>
                                    <td>@products[i].ProductName</td>
                                    <td>@products[i].Keyword</td>
                                    <td>@String.Format("{0:N0}", products[i].UnitPrice)</td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col"> <h3>留言清單</h3></div>
                    <div class="col">
                        <span>留言關鍵字:@ViewData["keywordPattern"]</span>
                        <span>人數:</span><span id="num">0</span>
                        <span>收單金額:</span><span id="money">0</span>
                        <span>成交金額:</span><span>0</span>
                    </div>
                    <div class="col-12">
                        <table id="ListTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>顧客名稱</th>
                                    <th>關鍵字</th>
                                    <th>商品名稱</th>
                                    <th>數量</th>
                                    <th>留言時間</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    </div>                
                </div>
        </div>
    </div>
</body>

@section EndJS
{
    <script>
        $(document).ready(function () {
            GetData();
            $("#btn_endpost").click(endPost);
            $("#btn_sentMsg").click(sendMsg);
            function endPost() {
                $.ajax({
                type: "POST",
                    url: '@Url.Action("SetPostEndtime", "list")',
                    data: {livePageID:'@ViewData["livePageID"]'}
                }).done(function (response) {
                    console.log(response);

                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ClearProducts", "Product")',
                }).done(function (response) {
                    window.location.href='@Url.Action("FanPageName", "Setting")'
                });
            }
            function sendMsg() {
                $.ajax({
                type: "POST",
                    url: '@Url.Action("SendMsgByButton", "list")',
                    data: {livePageID:'@ViewData["livePageID"]'}
                }).done(function (response) {
                    console.log(response);
                    
                });
            }
        });
        var num = 0
        var money=0
        function GetData() {
            $.ajax({
                type: 'post',
                url: '/list/GetPlusOneBuyOrders',
                data: { livePageID:'@ViewData["livePageID"]',keywordPattern:'@ViewData["keywordPattern"]'},
                dataType: "json",
                cache: false,
                success: function (Result) {
                    var json = JSON.parse(Result);           
                    for (var i = 0; i < json.length; i++) {      
                        var newTime = new Date(json[i].OrderDateTime);
                        $('#ListTable').append("<tr><td>" + json[i].CustomerName + "</td>" +
                            "<td>" + json[i].Keyword + "</td>" +
                            "<td>" + json[i].Product.ProductName + "</td>" +
                            "<td>" + json[i].Quantity + "</td>" +
                            "<td>" + newTime.toLocaleString() + "</td></tr>")
                        money=money+json[i].Product.UnitPrice
                        num = num + 1;

                    }

                }
            }).then(function () {
                setTimeout(GetData, 3000);
                $('#num').text(num)
                $('#money').text(money)
            })
        }
    </script>
}